{% extends "base.html" %}

{% block title %}Cheese List{% endblock title %}

{% block content %}
<h2>Cheese List</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country of Origin</th>
    </tr>
  </thead>
  <tbody>
    {% for cheese in cheese_list %}
    <tr>
      <td><a href="{% url 'cheeses:detail' cheese.slug %}">{{ cheese.name }}</a></td>
      <td>
        {% if cheese.country_of_origin %}
          {{ cheese.country_of_origin.name }}
          <img src="{{ cheese.country_of_origin.flag }}" alt="{{ cheese.country_of_origin.name }} Flag" />
        {% else %}
          N/A
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
